*{padding: 0;margin: 0;}
.product {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 500px;
}

.product-image {
    margin-right: 20px;
}

.product-image img {
    max-width: 300px;
    height: auto;
}

.product-details {
    text-align: right;
}

.product-details h2 {
    margin-bottom: 10px;
}

.product-details form {
    margin-top: 20px;
}

.product-details label {
    display: block;
    margin-bottom: 5px;
}

.product-details input {
    width: 200px;
    margin-bottom: 10px;
}

.product-details button {
    padding: 10px 20px;
    background-color: #d5bdaf;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-details button:hover {
    background-color: #000;
}

header{
    background-color: #d5bdaf;
    color: #fff;
    text-align: center;
    padding: 5px 0; 
}
ul {
    background-color: #d5bdaf;
    color: #fff;
    list-style: none;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}

li {
    margin: 5px;
    float: right;
    padding-left: 20px;
    display: flex;
    font-size: x-large;
}

li a {
    color: #fff;
    display: block;
    font-size: x-large;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    /* background-color: #d4a373; */
    width: 100%;
    height: 100%;
    color: #000;
}header a{color: #fff; text-decoration: none;}
.First{color: #fff; text-decoration: none;}
.head .Second{display: none;}
.head:hover .Second{
    display: inline; text-decoration: none; color: #000;  
}
footer{background-color: #d5bdaf;
    color: #fff;
    text-align: center;
    padding: 5px 0; 
    position: flex;
    bottom: 0;
}
footer:hover{color: #000;}